.git
.gitignore
.DS_Store
.pnpm-store
**/.pnpm-store
**/node_modules
**/dist
**/.next
**/coverage
**/*.tsbuildinfo
**/next-env.d.ts
apps/api/src/generated/prisma
**/.env
**/.env.*
!**/.env.example
**/*.log
storage
**/storage
tmp
**/tmp
uploads
**/uploads
.turbo
.idea
.vscode
